NEXT_PUBLIC_COLYSEUS_URL=ws://localhost:2567
NEXT_PUBLIC_SERVER_URL=http://localhost:2567
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_P2E_TOKEN_MINT=
